@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  list-style: none;
  --primary-green: #002b15;
  --highlight-green: #abda37;
  --white: #ffffff;
  --grey: #f2f5f7;
}

.root {
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--primary-green);
  font-family: "FigTree", sans-serif;
}
.logo h1 {
  letter-spacing: 1px;
  color: var(--highlight-green);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-green);
  position: sticky;
  margin: 1.5rem;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin: 1rem;
}

.btn {
  cursor: pointer;
  border-style: solid;
  margin: 0rem 0.3rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
}

.btn-primary {
  font-weight: 500;
  background-color: var(--primary-green);
  border-color: var(--highlight-green);
  color: var(--highlight-green);
}

.btn-secondary {
  font-weight: 500;
  background-color: var(--highlight-green);
  border-color: var(--highlight-green);
  color: var(--primary-green);
}

hr {
  width: 100%;
  height: 0.5px;
  border: none;
  background-color: var(--highlight-green);
}

.hero h1 {
  font-size: 3.5rem;
  color: var(--white);
  margin: 4rem 6rem 1.5rem 6rem;
  text-align: center;
  font-weight: 600;
}

.hero p {
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
  margin: 0rem 9rem;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  height: 500px;
  margin: 0rem 6rem 4rem 6rem;
}

.explore {
  background-color: var(--white);
}

.explore h1,
p {
  color: var(--primary-green);
}

.explore h1 {
  text-align: center;
}

.explore p {
  text-align: center;
}

.fa-regular {
  background-color: var(--primary-green);
  margin: 1rem;
}

.explore h1 {
  font-size: 2rem;
  padding-top: 2rem;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0rem 4rem;
}

.features-container p {
  padding: 0;
  width: 80%;
}

.exp-info {
  margin: 1rem auto;
  width: 800px;
  font-size: 1.2rem;
  text-align: center;
}

.features-container {
  margin-top: 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.features-container h2 {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.featurs-ico {
  margin: 2rem;
}

.explore-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--grey);
}

.exp-containers {
  display: flex;
  flex-direction: row;
}

.exp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1rem;
  padding: 1rem 0;
  padding-right: 1rem;
}

.exp-1 p {
  text-align: left;
  line-height: 2rem;
}

.exp-1-left {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  justify-content: space-between;
  width: 50%;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem;
}

.exp-1-left h2 {
  line-height: 1.5rem;
}

.exp-1-img {
  background-color: var(--grey);
}

.exp-containers h3 {
  margin-top: 2rem;
}

.exp-containers p {
  line-height: 1.75rem;
}

.btn-ca {
  border-radius: 30px;
  padding: 10px;
  background-color: var(--highlight-green);
  border-color: var(--primary-green);
  width: 300px;
  margin-left: 0;
  padding-left: 0;
}
